.App {
  text-align: center;
}
body {
  background-color: black;
}
.App-logo {
  height:80vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: black;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
#projects {
  background-color: #cfd8dc;
}
.about {
  background-color: #cfd8dc;
}
.right-align {
  margin: 0;
  padding: 0;
  background-color: #cfd8dc; 
  text-align: center;
  /* float: right; */
  /* width: 100%; */
  /* clear: both; */
}
/* .otherLevels {
  float: left;
  clear: both;
} */
.space {
  margin: 0;
  padding: 0;
  /* clear: both; */
}
#iconPack{
  /* margin-top: 120vh !important; */
  /* margin-left: 3.2vw !important;
   */
  width: 100%;
  display: inline-block;
  position: center;
}
.icon{
  display: inline-block;
  margin-left: 1vw !important;
  width: 5vw;
  padding: 15px;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.project1 {
  width: 1000px;
  height: auto;
}

.animania {
  width: 1000px;
  height: auto;
}

.name {
  font-size: 200px;
}